* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

a {
	text-decoration: none;
	outline: none;
}

a:hover {
	text-decoration: underline;
	border-radius: 10px;
}

body {
    font-family: 'Noto Sans JP', sans-serif;	
	background: #f2f2f2;
	min-height: 100vh;
	display: block;
}

/* * ============================== */
/* * ============ HEADER ========== */
/* * ============================== */

.navbar {
	background: #FFCD48;
}

.navbar a {
	color: #fff;
	display: inline-block;
	padding: 20px;
	width: 100%;
	text-align: center;
	color: #000;
	transition: .3s ease-out all;
}

.navbar a:hover {
	background: #1D2F3D;
	color: #fff;
	text-decoration: none;
}

.contenedor {
	max-width: 1000px;
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

#face {
    color: #1877f2;
}

#instagram {
    color: #e1306c;
}

#youtube {
    color: #ff0000;
}
#discord {
    color: #7289da;
}
#twitch {
    color: #9146ff;
}
#direcc {
    color: #0571ff;
}

/* * ====== MEDIA QUERIES ========= */
@media screen and (max-width: 900px){
	.navbar .contenedor {
		flex-wrap: wrap;
		margin: 0;
		width: 100%;
	}

	.navbar a {
		width: auto;
		flex: 1;
	}

	.contenedor-imagen {
		height: 50vh;
	}

	main .contenedor {
		flex-direction: column;
	}
	aside {
		position: static;
	}
}