* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

body {
    
    background-image:url(../img/cotizacion22.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

html{
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

a {
	text-decoration: none;
	outline: none;
}

a:hover {
	text-decoration: underline;
	border-radius: 10px;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
	min-height: 100vh;
	display: block;
}


/* * ============ HEADER ========== */

.navbar {
	background: #FFCD48;
}

.navbar a {
	color: #fff;
	display: inline-block;
	padding: 20px;
	width: 100%;
	text-align: center;
	color: #000;
	transition: .3s ease-out all;
}

.navbar a:hover {
	background: #1D2F3D;
	color: #fff;
	text-decoration: none;
}

.contenedor {
	max-width: 1000px;
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
}


form{
    margin: 0 0;
}

.form_conteiner {
    font-family: 'Noto Sans JP', sans-serif;	
}

.form_input{
    background-color: #ffffff;
    font-family: inherit;
    font-size: 1rem;
    padding: .8rem 1em;
    outline: none;
    border: none;
    border: 1px solid #bbb0b0;
    border-radius: 10px;
}

.form_label{
    background-color: #FFCD48;
    text-align: center;
    color: #030303;
    font-family: inherit;
    font-size: 1.0rem;
    padding: .8rem 1em;
    outline: none;
    border-radius: 10px;
}
.form_cta{
    font-family: inherit;
    font-size: 0.9rem;
    background-color: #FFCD48;
    color: #030303;
    border: none;
    font-weight: 300;
    padding: 1.3em 0;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 400;
}

.form_cta:hover {
	background: #089fe0;
	color: #fff;
	text-decoration: none;
}

.form{
    margin: 50px auto;
    width: 90%;
    max-width: 600px;
    border-radius: 1em;
    padding: 3.5em 1.5em;
}

.form_conteiner{
    width: 100%;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;
}

.form_title{
    color: #000000;
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 0 1rem;
    border: none;
}

.form_input--mensaje{
    resize: none;
    padding: 1.8em 1em;
    margin-bottom: .5em;
}

.error{
    font-size: 1rem;
    color: rgb(255, 0, 0);
}

h1{
    color: #000;
    padding: 50px;
    text-align: center;
}

h1 a {
    color: #FFCD48;
    text-decoration:#ff0000;
}

footer{
	font-size: 1rem;
	padding: 10px;
    margin-top: 10px;
	display: flex;
	justify-content:center;
	background-color: #FFCD48;
}

footer div p{
	text-align: center;
	margin: 0 auto; 
	width: 100%;
}
