body{
    background-image:url(../img/cotizacion22.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: 'Noto Sans JP', sans-serif;
}

form{
    margin: 0 0;
}

.form_conteiner {
    font-family: 'Noto Sans JP', sans-serif;	
}

.form_input{
    font-family: inherit;
    font-size: 1rem;
    padding: .8rem 1em;
    outline: none;
    border: none;
    border: 1px solid #bbb0b0;
    border-radius: 0.2em;
}

.form_cta{
    font-family: inherit;
    font-size: 1.0rem;
    background-color: #FFCD48;
    color: #030303;
    border: none;
    font-weight: 400;
    padding: 1.3em 0;
    border-radius: .5em;
    cursor: pointer;
    font-weight: 400;
}

.form_cta:hover {
	background: #089fe0;
	color: #fff;
	text-decoration: none;
}


.form{
    margin: 150px auto;
    width: 90%;
    max-width: 600px;
    border-radius: 1em;
    padding: 3.5em 1.5em;

}

.form_conteiner{
    width: 100%;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;
}

.form_title{
    color: #242322;;
    border-radius: 10px;
    text-align: center;
    font-size: 1.9rem;
    margin-bottom: .4rem;
}

.form_input--mensaje{
    resize: none;
    padding: 1.8em 1em;
    margin-bottom: .5em;
}

footer{
	font-size: 1rem;
	padding: 15px;
    margin-top: 10px;
	display: flex;
	justify-content:center;
	background-color: #FFCD48;
}

footer div p{
	text-align: center;
	margin: 0 auto; 
	width: 100%;
}



